<%= form_for([:toolset, @facility_template]) do |f| %>
  <% if @facility_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility_template.errors.count, "error") %> ошибки:</h2>

      <ul>
      <% @facility_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Название<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Описание<br />
    <%= f.text_area :descr %>
  </div>
  <div class="field">
    Тип<br />
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    Видимость<br />
    <%= f.number_field :visibility %>
  </div>
  <div class="field">
    Размер инвентаря<br />
    <%= f.number_field :inventory_size %>
  </div>
  <div class="actions">
    <%= f.submit 'Готово' %>
  </div>
<% end %>
