<!DOCTYPE html>
<html>
<head>
  <title>Toolset Wots</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Климаты", toolset_climes_path %> |
<%= link_to "Предметы", toolset_item_templates_path %> |
<%= link_to "Окружение", toolset_facility_templates_path %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>